@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("../fonts/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("../fonts/Raleway-Light.woff") format("woff"), url("../fonts/Raleway-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Yantramanav";
  font-display: swap;
  src: url("../fonts/Yantramanav-Bold.woff") format("woff"), url("../fonts/Yantramanav-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  font-size: 100%;
  line-height: 1;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li {
  cursor: default;
}

input::-ms-clear {
  display: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  color: inherit;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  padding: 0;
  margin: 0;
}

html {
  font-size: 0.8335vw;
}

body, html {
  min-width: 320px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: normal;
  overflow-x: hidden;
}

main {
  margin-top: -8.7rem;
}

.main-btn {
  border-radius: 3.125rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#F1CA2D), to(#F6A21E));
  background: linear-gradient(180deg, #F1CA2D 0%, #F6A21E 100%);
  padding: 1.5rem 4.12rem;
}
.main-btn__text {
  color: #000;
  font-family: Raleway;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container {
  max-width: 112.4375rem;
  margin: 0 auto;
}

.main__container {
  max-width: 102.7rem;
  margin-left: 4.2rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-none {
  display: none !important;
}

.link__decoration {
  text-decoration-line: underline;
}

@media (max-width: 768px) {
  html {
    font-size: 2.125vw;
  }
  .container {
    max-width: 46rem;
    margin: 0 auto;
  }
  .main__container {
    max-width: 45rem;
    margin-left: 0.5rem;
  }
  .main-btn__text {
    font-size: 0.8125rem;
  }
  .main-btn {
    padding: 1rem 2rem;
  }
}
@media (max-width: 576px) {
  html {
    font-size: 5.125vw;
  }
  .container {
    max-width: 18.5rem;
  }
  .main__container {
    max-width: 18.3rem;
    margin-left: 0.6rem;
  }
  .main-btn__text {
    font-size: 0.875rem;
  }
  .main-btn {
    padding-top: 0.62rem;
    padding-bottom: 0.56rem;
  }
}
.header {
  background: url("../img/menu_bg.svg") center center no-repeat #4D3F75;
  border-radius: 0 0 50px 50px;
  padding: 0 0 1.89rem 0;
  position: relative;
  width: 100%;
  z-index: 1000;
}
.header__top {
  position: relative;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.64rem;
  padding-top: 1.7rem;
  padding-bottom: 1.5rem;
}
.header__logo {
  position: absolute;
  top: -0.1rem;
  left: 0;
}
.header__logo-bg {
  width: 21rem;
  height: 5rem;
  background: url("../img/logo-bg.png") center no-repeat;
  background-size: contain;
}
.header__logo-img {
  width: 8.93731rem;
  height: 2.868rem;
  position: absolute;
  top: 42%;
  left: 52%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.header__phone, .header__email {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFF;
  font-family: Yantramanav;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.0375rem;
}
.header__phone-img {
  width: 1.25rem;
  height: 1.28381rem;
}
.header__email-img {
  width: 1.25rem;
  height: 0.88263rem;
}
.header__email {
  margin-left: 1.86rem;
}
.header__lang {
  position: relative;
  padding-right: 0.8rem;
  margin-left: 3.06rem;
  width: 4.6rem;
  cursor: pointer;
}
.header__lang::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0.5rem;
  height: 0.5rem;
  background: url("../img/polygon-lang.svg") center no-repeat;
  background-size: contain;
}
.header__lang:hover .header__lang-menu {
  opacity: 1;
  visibility: visible;
}
.header__lang-name {
  color: #D2D2D2;
  font-family: Raleway;
  font-size: 0.875rem;
}
.header__lang-main {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__lang-img {
  width: 1.875rem;
  height: 1.875rem;
}
.header__lang-menu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 94%;
  left: -0.8rem;
  background: #4d3f75;
  z-index: 1000;
  list-style-type: none;
  padding: 1rem;
  min-width: 80px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 1px 0px #4d3f75;
          box-shadow: 2px 2px 1px 0px #4d3f75;
}
.header__lang-item--main {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.header__lang-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.3rem;
  cursor: pointer;
}
.header__lang-item:hover .header__lang-name {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  -webkit-text-stroke: 1px white;
}
.header__lang-item img {
  width: 1.875rem;
  height: 1.875rem;
  margin-left: 0.5rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__phone-link, .header__email-link, .header__lang-img {
  margin-left: 0.5rem;
}
.header__line {
  position: absolute;
  width: 93.375rem;
  top: 4.38rem;
  right: 7.62rem;
}
.header__burger {
  display: none;
  position: absolute;
  top: 1rem;
  left: 0.8rem;
  width: 2.4935rem;
  height: 2.5rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: #665A87;
  border-radius: 50%;
  cursor: pointer;
}
.header__mobile-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: #665A87;
  border-radius: 50%;
  cursor: pointer;
}
.header__mobile-circle img {
  width: 1.5rem;
  height: auto;
}
.header__phone-mobile, .header__email-mobile {
  display: none;
}

.header__nav-list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__nav-link {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 1rem;
}
.header__nav a:hover {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  -webkit-text-stroke: 1px white;
}

.header__nav-link:not(.link__decoration) {
  position: relative;
  padding-right: 0.8rem;
}
.header__nav-link:not(.link__decoration)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0.5rem;
  height: 0.5rem;
  background: url("../img/polygon.svg") center no-repeat;
}

.header__nav-active {
  position: relative;
  z-index: 100;
}
.header__nav-active .header__nav-parent {
  display: none;
}
.header__nav-active:hover > .header__nav-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__nav-active ul {
  width: 19rem;
  padding-top: 1.8rem;
}
.header__nav-parent {
  position: absolute;
  left: -1.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-width: 3px;
  border-top-width: 3px;
  border-right-width: 3px;
  border-right: none;
  border-image-slice: 32 27 27 27;
  border-image-width: 20px 20px 20px 20px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  border-image-source: url("../img/border-sub-menu-right.png");
  border-top: 0;
  border-radius: 0 30px 30px 30px;
  background: linear-gradient(60.15deg, #4D3F75 100%, rgba(77, 63, 117, 0) 125.06%);
  margin: 0;
  padding: 0 0 10px 0;
}
.header__nav-dropdown {
  background: linear-gradient(60.15deg, #4D3F75 100%, rgba(77, 63, 117, 0) 125.06%);
  border-radius: 30px 0 0 30px;
  margin: 0;
  padding: 0 0 10px 0;
  width: 19rem;
}
.header__nav-dropdown .header__nav-child .header__nav-dropdown {
  border-radius: 30px 0 0 30px;
}
.header__nav-active li {
  padding: 0.7rem 2rem;
}
.header__nav-child {
  position: relative;
}
.header__nav-child > ul {
  display: none;
  position: absolute;
  left: -95%;
  top: 0;
  padding-top: 0rem;
  z-index: -200;
}
.header__nav-child:hover > ul {
  display: block;
}
.header__nav-child a {
  position: relative;
  font-size: 1rem;
}
.header__nav-child > a::after {
  content: "";
  position: absolute;
  right: -1rem;
  top: 36%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0.5rem;
  height: 0.5rem;
  background: url("../img/polygon-lang.svg") center no-repeat;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

@media (max-width: 768px) {
  .header {
    padding-bottom: 0;
  }
  .header__line {
    display: none;
  }
  .header__phone {
    display: none;
  }
  .header__email {
    display: none;
  }
  .header__burger {
    display: block;
  }
  .header__phone-mobile, .header__email-mobile {
    display: block;
  }
  .header__lang {
    margin-left: 1.037rem;
  }
  .header__email-mobile {
    margin-left: 0.81rem;
  }
  .header__logo-bg {
    width: 17.32988rem;
    height: 3.75rem;
  }
  .header__logo {
    left: 4.8rem;
  }
  .header__top {
    padding-top: 1rem;
  }
  .header__logo-img {
    width: 7.60137rem;
    height: auto;
    position: absolute;
    top: 36%;
    left: 49%;
  }
  .header__lang::after {
    top: 50%;
  }
  .header__contact {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__nav {
    display: none;
  }
  .header__nav-mobile {
    display: block;
    -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
            transform: scaleY(0);
    position: absolute;
    top: 4rem;
    left: 1rem;
    background: #4D3F76;
    border-radius: 0 30px 30px 30px;
    font-size: 0.9rem;
    padding: 0px 25px 15px 25px;
    min-width: 320px;
    border: 3px solid yellow;
    border-top-width: 3px;
    border-right-width: 3px;
    border-right-style: solid;
    border-right-color: yellow;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-width: 3px;
    border-right-width: 3px;
    border-right: none;
    border-image-slice: 32 27 27 27;
    border-image-width: 20px 20px 20px 20px;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: stretch stretch;
    border-image-source: url("../img/border-sub-menu.png");
  }
  .header__nav-mobile.burger--active {
    will-change: transform;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 50% 0;
        -ms-transform-origin: 50% 0;
            transform-origin: 50% 0;
  }
  .header__nav-list {
    display: block;
  }
  .header__nav-item {
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 576px) {
  .header {
    padding: 0;
    border-radius: 0 0 33px 33px;
  }
  .header__burger {
    width: 2.125rem;
    height: 2.125rem;
    top: 0.5rem;
    left: 0.12rem;
  }
  .header__logo-bg {
    width: 8.65088rem;
    height: 2.24444rem;
  }
  .header__logo {
    left: 2.2rem;
    top: -0.2rem;
  }
  .header__logo-img {
    width: 4.601rem;
    height: auto;
    top: 41%;
    left: 52%;
  }
  .header__mobile-circle {
    width: 2.25rem;
    height: 2.25rem;
  }
  .header__mobile-circle img {
    width: 1.4rem;
    height: auto;
  }
  .header__lang-name--main {
    display: none;
  }
  .header__lang-img {
    width: 1.6875rem;
    height: 1.25rem;
  }
  .header__top {
    padding-top: 0.5rem;
    padding-bottom: 0.81rem;
  }
  .header__lang-menu {
    padding: 0.4rem;
  }
  .header__lang::after {
    width: 0.3rem;
    height: 0.3rem;
  }
  .header__lang-item img {
    width: 1.6875rem;
    height: 1.25rem;
    -o-object-position: left;
       object-position: left;
  }
  .header__lang-img img {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .header__lang-item span {
    font-size: 0.6rem;
  }
  .header__lang {
    padding-right: 0.2rem;
    margin-left: 0.037rem;
    width: 2.6rem;
  }
  .header__email-mobile {
    margin-left: 0.5rem;
  }
  .header__nav {
    top: 3rem;
    left: 0.5rem;
  }
  .header__nav-link {
    font-size: 0.8rem;
  }
}
.dl-menuwrapper {
  display: none;
  position: absolute;
  top: 1rem;
  left: 1.2rem;
}

.dl-menuwrapper button {
  width: 2.4935rem;
  height: 2.5rem;
  background: #665A87;
  border-radius: 50%;
  cursor: pointer;
}

.dl-menuwrapper button:hover, .dl-menuwrapper button.dl-active {
  background: #665A87;
}

.dl-menuwrapper button::after {
  left: 50%;
  top: 33%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 0.17rem;
  border-radius: 20%;
  width: 1.4rem;
  border-radius: 15px;
  -webkit-box-shadow: 0 1rem 0 #fff, 0 0.5rem 0 #fff;
          box-shadow: 0 1rem 0 #fff, 0 0.5rem 0 #fff;
}

.dl-menuwrapper .dl-menu {
  background: #4D3F76;
  border-radius: 0 30px 30px 30px;
  margin: 1px 0 0 0;
  font-size: 0.9rem;
  padding: 26px 25px 15px 25px;
  min-width: 320px;
  border: 3px solid yellow;
  border-top-width: 3px;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: yellow;
  border-bottom-width: 3px;
  border-left-width: 3px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-width: 3px;
  border-right-width: 3px;
  border-right: none;
  border-image-slice: 32 27 27 27;
  border-image-width: 20px 20px 20px 20px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  border-image-source: url("../img/border-sub-menu.png");
}

.dl-menuwrapper ul {
  background: #4D3F76;
}

.dl-menuwrapper li.dl-back::after, .dl-menuwrapper li > a:not(:only-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 44%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0.5rem;
  height: 0.5rem;
  background: url("../img/polygon.svg") center no-repeat;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

#dl-menu .dl-back {
  background: #9089a6;
  border-radius: 0 20px 20px 0;
  margin-top: -2px;
  margin-left: -15px;
  margin-right: 15px;
  padding: 5px 10px 5px 15px;
}

.dl-menuwrapper .dl-back a {
  width: 30px;
  height: 30px;
}

.dl-menuwrapper .dl-back a {
  display: inline-block;
}

.dl-menuwrapper .dl-back a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.dl-menuwrapper .dl-back::after {
  display: none;
}

.dl-menuwrapper .dl-back a::after {
  display: none;
}

.dl-menuwrapper li.dl-back > a {
  padding: 0;
  background: none;
}

.dl-menuwrapper li.dl-back > a:hover {
  background: none;
}

.dl-name {
  display: inline-block;
  max-width: 8rem;
  font-size: 16px;
  margin-left: 3px;
}

@media (max-width: 768px) {
  .dl-menuwrapper {
    display: block;
  }
  .no-touch .dl-menuwrapper li a:hover {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    -webkit-text-stroke: 1px white;
    background: none !important;
  }
  .dl-menuwrapper .dl-menu {
    padding: 15px 27px 15px 7px;
    min-width: 300px;
  }
  #dl-menu .dl-back {
    margin-top: 3px;
    margin-left: 0px;
  }
  .dl-menuwrapper li a {
    padding: 10px 15px;
  }
}
@media (max-width: 576px) {
  .dl-menuwrapper button {
    width: 2.25rem;
    height: 2.25rem;
  }
  .dl-menuwrapper {
    top: 0.5rem;
    left: 0.6rem;
  }
  .dl-menuwrapper button::after {
    height: 0.14rem;
    -webkit-box-shadow: 0 0.9rem 0 #fff, 0 0.45rem 0 #fff;
            box-shadow: 0 0.9rem 0 #fff, 0 0.45rem 0 #fff;
  }
  .dl-menuwrapper li.dl-back::after, .dl-menuwrapper li > a:not(:only-child)::after {
    top: 40%;
  }
  .dl-name {
    width: 130px;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
  }
  .dl-menuwrapper .dl-menu {
    padding: 15px 27px 15px 7px;
    min-width: 300px;
  }
  #dl-menu .dl-back {
    margin-top: 3px;
    margin-left: 0px;
  }
  .dl-menuwrapper li a {
    padding: 10px 15px;
  }
}
#test {
  overflow: hidden;
}

#test img {
  -webkit-animation: none 2s linear forwards;
          animation: none 2s linear forwards;
}

@-webkit-keyframes img-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes img-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes img-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes img-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.hero {
  padding-top: 9rem;
  background: #340738;
  overflow: hidden;
}
.hero__wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 6rem;
}
.hero__descr {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60rem;
          flex: 0 0 60rem;
}
.hero__title {
  font-size: 6.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 85%; /* 5.3125rem */
  padding-bottom: 1.8rem;
}
.hero__title-color {
  display: inline-block;
  color: #F3BC28;
  font-size: 5rem;
  font-style: normal;
  font-weight: 700;
  padding-bottom: 1.5rem;
}
.hero__subtitle {
  color: #F1CA2D;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0.8rem;
}
.hero__btn {
  border-radius: 1.875rem;
  margin-top: 1rem;
}
.hero__slider-container {
  position: relative;
  margin-top: -3rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33rem;
          flex: 0 0 33rem;
}

.hero__team {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32rem;
          flex: 0 0 32rem;
  height: 43.97363rem;
  margin-bottom: -3.2809rem;
}
.hero__team-circle {
  position: absolute;
  left: 0;
  top: 0rem;
  width: 30.9375rem;
  height: 30.9375rem;
}
.hero__team-item {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -3rem;
  left: -3rem;
}
.hero__team-img {
  min-height: 43.97363rem;
  position: absolute;
  left: 0;
  bottom: 0;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: 1;
  -webkit-animation: fade 5s linear infinite;
          animation: fade 5s linear infinite;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}
.hero__team-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  bottom: 3.8rem;
  left: 0rem;
  color: #F1CA2D;
  font-size: 1.25rem;
  z-index: 100;
}
.hero__team-color {
  color: #fff;
  font-size: 1.25rem;
  margin-top: 0.3rem;
}

@media (max-width: 768px) {
  .hero {
    padding-top: 5.4rem;
    padding-bottom: 0rem;
    margin-bottom: -2.105rem;
  }
  .hero__descr {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 26rem;
            flex: 0 0 26rem;
  }
  .hero__title {
    font-size: 2.25rem;
    padding-bottom: 1.3rem;
  }
  .hero__title-color {
    padding-bottom: 1rem;
    padding-top: 0.7rem;
    font-size: 2rem;
  }
  .hero__subtitle {
    font-size: 1.26rem;
    margin-bottom: 0.2rem;
  }
  .hero__btn {
    border-radius: 1.875rem;
    margin-top: 0.7rem;
  }
  .hero__team-img {
    min-height: 0;
    height: 100%;
    width: 100%;
  }
  .hero__team-circle {
    left: 0;
    top: 0rem;
    width: 16rem;
    height: 16rem;
  }
  .hero__team {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16rem;
            flex: 0 0 16rem;
    height: 22.2983rem;
    margin-bottom: 0;
  }
  .hero__team-item {
    top: -2.08rem;
    left: -1rem;
    height: 100%;
  }
  .hero__team-name {
    bottom: 1.5rem;
    font-size: 0.725rem;
    left: -2rem;
  }
  .hero__team-color {
    color: #fff;
    font-size: 0.725rem;
    margin-top: 0.3rem;
  }
}
@media (max-width: 576px) {
  .hero {
    background: #28062C;
  }
  .hero__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
    padding-top: 3.7rem;
    margin-right: -0.6rem;
    margin-left: -0.6rem;
  }
  .hero__descr {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .hero__descr-contain {
    background: #340738;
    padding: 1.525rem 0.6rem 1.2rem;
  }
  .hero__team-circle {
    width: 8.31056rem;
    height: 8.26669rem;
    left: 55%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .hero__team {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 11.4rem;
            flex: 0 0 11.4rem;
    height: auto;
    margin-bottom: -0.7rem;
  }
  .hero__team-item {
    top: -0.68rem;
    left: 0rem;
  }
  .hero__team-img {
    left: 0.5rem;
    bottom: 0;
  }
  .hero__team-name {
    bottom: 1.4rem;
    left: 3.9rem;
    font-size: 0.5rem;
  }
  .hero__team-color {
    color: #fff;
    font-size: 0.5rem;
    margin-top: 0.3rem;
  }
  .hero__title {
    font-size: 1.875rem;
    padding-bottom: 0.9rem;
  }
  .hero__title-color {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    font-size: 1.5rem;
  }
  .hero__subtitle {
    font-size: 1rem;
    margin-bottom: 0.2rem;
  }
  .hero__subtitle-last {
    padding-right: 5rem;
  }
  .hero__btn {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.cases {
  padding-top: 6.525rem;
  padding-bottom: 6.06rem;
  background: #28062C;
}
.cases__title {
  color: #F3BC28;
  font-size: 4.375rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 103%;
}
.cases__subtitle {
  font-size: 3.5rem;
}
.cases__text {
  font-size: 1.875rem;
  margin-bottom: 3.13rem;
}
.cases__wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -webkit-column-gap: 2.25rem;
     -moz-column-gap: 2.25rem;
          column-gap: 2.25rem;
}
.cases__logo {
  grid-column: span 10;
  text-align: center;
}
.cases__wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -webkit-column-gap: 2.25rem;
     -moz-column-gap: 2.25rem;
          column-gap: 2.25rem;
}
.cases__logo-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  -webkit-column-gap: 1.88rem;
     -moz-column-gap: 1.88rem;
          column-gap: 1.88rem;
  row-gap: 1.88rem;
}
.cases__logo-item {
  position: relative;
  grid-column: span 1;
  overflow: hidden;
}
.cases__logo-item:nth-child(1) {
  grid-column: span 2;
  grid-row: span 2;
}
.cases__logo-item:nth-child(6) {
  grid-column: span 2;
  grid-row: span 2;
}
.cases__logo-item:nth-child(8) {
  grid-column: span 2;
  grid-row: span 2;
}
.cases__logo-item:nth-child(12) {
  display: none;
}
.cases__logo-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  top: 0;
  right: -50%;
  background: rgba(255, 255, 255, 0.7);
  width: 50%;
  height: 100%;
  padding: 0 0.5rem 0.44rem 0.94rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 100;
}
.cases__logo-text {
  text-align: left;
  color: #000;
  font-size: 0.875rem;
  font-weight: 700;
  cursor: pointer;
}
.cases__descr {
  grid-column: 11/2 span;
}
.cases__descr-item {
  margin-bottom: 1.88rem;
}
.cases__descr-title {
  margin-bottom: 1.94rem;
  font-size: 1.875rem;
}
.cases__descr-text {
  font-size: 4.125rem;
  font-weight: 700;
}
.cases__descr-color {
  color: #F3BC28;
}
.cases__descr-btn {
  margin-top: 2rem;
  padding: 1.7rem 3.912rem;
}
.cases__btn {
  border-radius: 3.125rem;
  margin-top: 3rem;
  margin-left: 19rem;
  padding: 1.5rem 5.612rem;
}
.cases__btn:hover {
  color: #000;
}

.cases__logo-item:hover .cases__logo-bg {
  right: 0;
}

.cases__logo-item:nth-child(1) .cases__logo-text {
  color: #000;
  font-size: 1.25rem;
  font-weight: 700;
}
.cases__logo-item:nth-child(6) .cases__logo-text {
  color: #000;
  font-size: 1.25rem;
  font-weight: 700;
}
.cases__logo-item:nth-child(8) .cases__logo-text {
  color: #000;
  font-size: 1.25rem;
  font-weight: 700;
}

.cases__logo-item:nth-child(1) .cases__logo-bg {
  padding: 0 2.34rem 2.31rem 2.06rem;
}
.cases__logo-item:nth-child(6) .cases__logo-bg {
  padding: 0 2.34rem 2.31rem 2.06rem;
}
.cases__logo-item:nth-child(8) .cases__logo-bg {
  padding: 0 2.34rem 2.31rem 2.06rem;
}

@media (max-width: 768px) {
  .cases {
    padding-top: 3.353rem;
    padding-bottom: 3.06rem;
  }
  .cases__wrapper {
    -webkit-column-gap: 1.81rem;
       -moz-column-gap: 1.81rem;
            column-gap: 1.81rem;
  }
  .cases__title {
    font-size: 2rem;
  }
  .cases__subtitle {
    font-size: 1.875rem;
  }
  .cases__text {
    font-size: 1.125rem;
    margin-bottom: 1.813rem;
  }
  .cases__logo-grid {
    -webkit-column-gap: 0.54rem;
       -moz-column-gap: 0.54rem;
            column-gap: 0.54rem;
    row-gap: 0.54rem;
  }
  .cases__descr-title {
    font-size: 1.125rem;
    margin-bottom: 0.94rem;
  }
  .cases__descr-text {
    font-size: 2.5rem;
  }
  .cases__logo {
    grid-column: span 9;
  }
  .cases__descr {
    grid-column: 10/3 span;
  }
  .cases__descr-item {
    margin-bottom: 0.78rem;
  }
  .cases__descr-btn {
    margin-top: 0.2rem;
    padding: 1.1rem 1.812rem;
  }
  .cases__btn {
    margin-top: 1.2rem;
    margin-left: 12rem;
    padding: 1.1rem 3.112rem;
  }
  .cases__logo-text {
    font-size: 0.47rem;
  }
  .cases__logo-bg {
    padding: 0 0.3rem 0.3rem 0.3rem;
  }
  .cases__logo-item:nth-child(1) .cases__logo-text {
    font-size: 1rem;
  }
  .cases__logo-item:nth-child(6) .cases__logo-text {
    font-size: 1rem;
  }
  .cases__logo-item:nth-child(8) .cases__logo-text {
    font-size: 1rem;
  }
  .cases__logo-item:nth-child(1) .cases__logo-bg {
    padding: 0 0.34rem 0.31rem 0.5rem;
  }
  .cases__logo-item:nth-child(6) .cases__logo-bg {
    padding: 0 0.34rem 0.31rem 0.5rem;
  }
  .cases__logo-item:nth-child(8) .cases__logo-bg {
    padding: 0 0.34rem 0.31rem 0.5rem;
  }
}
@media (max-width: 576px) {
  .cases {
    padding-top: 3.9353rem;
    padding-bottom: 1.706rem;
  }
  .cases__title {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
  }
  .cases__subtitle {
    font-size: 1.5rem;
    margin-bottom: 0.3rem;
  }
  .cases__text {
    font-size: 1rem;
    margin-bottom: 1.113rem;
  }
  .cases__descr-title {
    font-size: 1rem;
  }
  .cases__descr-text {
    font-size: 1.75rem;
  }
  .cases__btn {
    padding: 0.62rem 1.88rem;
    margin-top: 1rem;
    margin-left: 0rem;
  }
  .cases__descr-btn {
    padding-left: 1.44rem;
    padding-right: 1.44rem;
  }
  .cases__wrapper {
    display: block;
  }
  .cases__logo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
  .cases__logo-item:nth-child(1) {
    grid-column: span 2;
    grid-row: span 2;
  }
  .cases__logo-item:nth-child(5) {
    grid-column: span 2;
    grid-row: span 2;
  }
  .cases__logo-item:nth-child(7) {
    grid-column: span 2;
    grid-row: span 2;
  }
  .cases__logo-item:nth-child(6) {
    grid-column: span 1;
    grid-row: span 1;
  }
  .cases__logo-item:nth-child(8) {
    grid-column: span 1;
    grid-row: span 1;
  }
  .cases__logo-item:nth-child(12) {
    display: block;
  }
  .cases__logo-item:nth-child(11) {
    grid-column: span 2;
    grid-row: span 2;
  }
  .cases__logo-text {
    font-size: 0.375rem;
  }
  .cases__logo {
    padding-bottom: 1rem;
  }
  .cases__logo-bg {
    padding: 0 0.3rem 0.3rem 0.3rem;
  }
  .cases__logo-grid {
    -webkit-column-gap: 0.47rem;
       -moz-column-gap: 0.47rem;
            column-gap: 0.47rem;
    row-gap: 0.47rem;
  }
  .cases__descr {
    text-align: center;
  }
  .cases__descr-title {
    margin-bottom: 0.2rem;
  }
  .cases__descr-btn {
    padding-left: 1.44rem;
    padding-right: 1.44rem;
    padding-top: 0.62rem;
    padding-bottom: 0.56rem;
    margin-top: -0.2rem;
  }
  .cases__logo-item:nth-child(1) .cases__logo-text {
    font-size: 0.5rem;
  }
  .cases__logo-item:nth-child(5) .cases__logo-text {
    font-size: 0.5rem;
  }
  .cases__logo-item:nth-child(7) .cases__logo-text {
    font-size: 0.5rem;
  }
  .cases__logo-item:nth-child(6) .cases__logo-text {
    font-size: 0.375rem;
  }
  .cases__logo-item:nth-child(8) .cases__logo-text {
    font-size: 0.375rem;
  }
  .cases__logo-item:nth-child(11) .cases__logo-text {
    font-size: 0.5rem;
  }
  .cases__logo-item:nth-child(1) .cases__logo-bg {
    padding: 0 0.44rem 0.45rem 0.47rem;
  }
  .cases__logo-item:nth-child(5) .cases__logo-bg {
    padding: 0 0.44rem 0.45rem 0.47rem;
  }
  .cases__logo-item:nth-child(7) .cases__logo-bg {
    padding: 0 0.44rem 0.45rem 0.47rem;
  }
  .cases__logo-item:nth-child(6) .cases__logo-bg {
    padding: 0 0.3rem 0.3rem 0.3rem;
  }
  .cases__logo-item:nth-child(8) .cases__logo-bg {
    padding: 0 0.3rem 0.3rem 0.3rem;
  }
  .cases__logo-item:nth-child(11) .cases__logo-bg {
    padding: 0 0.44rem 0.45rem 0.47rem;
  }
}
.process {
  background: #583E7A;
}
.process__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 4.2rem;
}
.process__wrapper {
  width: 49.125rem;
  margin-top: 1.8rem;
}
.process__title {
  color: #F3BC28;
  font-size: 4.375rem;
  font-weight: 700;
  margin-bottom: 3.13rem;
}
.process__item-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.process__item-subtitle {
  color: #F3BC28;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.process__item-text {
  font-size: 1.5rem;
}
.process__img {
  width: 59.0625rem;
  height: 59.0625rem;
}

.process__video {
  position: relative;
  overflow: hidden;
  width: 59.0625rem;
  height: 59.0625rem;
}

.process__play {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #583E7A;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.process__video:hover .process__play {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
      -ms-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.process__play svg {
  width: 1.2rem;
  height: 1.4rem;
}

.process__play path {
  fill: #fff;
}

.process__video::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.process__video:hover::after {
  opacity: 1;
}

@media (max-width: 768px) {
  .process__container {
    margin-left: 0.5rem;
    max-width: 48rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-right: -0.67rem;
  }
  .process__wrapper {
    width: 23rem;
    margin-top: 4.2rem;
  }
  .process__title {
    font-size: 2rem;
    margin-bottom: 1.713rem;
  }
  .process__item-title {
    font-size: 1.5rem;
    margin-bottom: 1.3rem;
  }
  .process__item-subtitle {
    font-size: 1rem;
    margin-bottom: 0.8rem;
  }
  .process__item-text {
    font-size: 1rem;
  }
  .process__img {
    width: 24rem;
    height: 22.7188rem;
  }
  .process__video {
    width: 24rem;
    height: 22.7188rem;
  }
  .process__play {
    width: 5rem;
    height: 5rem;
  }
  .process__play svg {
    width: 1rem;
    height: 1.2rem;
  }
}
@media (max-width: 576px) {
  .process {
    padding-top: 1.87rem;
  }
  .process__container {
    display: block;
  }
  .process__wrapper {
    width: 100%;
    margin-top: 0rem;
  }
  .process__container {
    max-width: 18.5rem;
    margin: 0 auto;
  }
  .process__title {
    font-size: 1.75rem;
    margin-bottom: 0.513rem;
  }
  .process__item-title {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
  }
  .process__item-subtitle {
    margin-bottom: 0.69rem;
  }
  .process__img {
    width: 100%;
    height: 18.25rem;
    margin-top: 1.8rem;
  }
  .process__video {
    width: 100%;
    height: 18.25rem;
    margin-top: 1.8rem;
  }
  .process__play {
    width: 4rem;
    height: 4rem;
  }
  .process__play svg {
    width: 0.8rem;
    height: 1rem;
  }
}
.connect {
  background-color: #583E7A;
}
.connect__wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-left: 10rem;
}
.connect__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45.75rem;
          flex: 0 0 45.75rem;
  padding-top: 8.75rem;
}
.connect__title {
  font-size: 3.125rem;
  font-weight: 700;
  margin-bottom: 2.91rem;
}
.connect__title-color {
  color: #F3BC28;
  font-size: 6.25rem;
  font-weight: 700;
}
.connect__subtitle {
  font-size: 2.25rem;
  margin-bottom: 0.8rem;
}
.connect__subtitle-color {
  color: #F6A21E;
  font-size: 2.25rem;
  font-weight: 700;
}
.connect__text {
  font-size: 1.5rem;
}
.connect__callback {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 42.5rem;
          flex: 0 0 42.5rem;
  padding: 8.1rem 0 6rem 2.6rem;
  margin-left: 4.31rem;
  -webkit-box-shadow: -5px 0 5px -5px rgba(0, 0, 0, 0.25);
          box-shadow: -5px 0 5px -5px rgba(0, 0, 0, 0.25);
}
.connect__callback-title {
  font-size: 2.25rem;
  font-weight: 700;
  margin-bottom: 1.3rem;
}
.connect__form {
  margin-left: 0.6rem;
}
.connect__label {
  display: block;
  font-size: 0.875rem;
}
.connect__input {
  width: 100%;
  height: 2.375rem;
  padding: 0 1rem;
  margin-bottom: 1rem;
  border-radius: 3.125rem;
  background: #FFF;
  font-size: 1.125rem;
  color: #747474;
  margin-top: 0.5rem;
}
.connect__textarea {
  width: 100%;
  min-height: 5.25rem;
  padding: 1rem;
  margin-bottom: 1.2rem;
  border-radius: 1.875rem;
  background: #FFF;
  font-size: 1.125rem;
  color: #747474;
  resize: none;
  margin-top: 0.5rem;
}
.connect__label-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 0.5rem;
  margin-bottom: 2.3rem;
  font-size: 1.125rem;
}
.connect__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.connect__checkbox-link {
  text-decoration: underline;
}
.connect__btn {
  padding: 1.5rem 4.812rem;
}

.connect__label-checkbox span {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 0.81rem;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.3125rem;
  border: 1px solid #FFF;
}

.connect__label-checkbox input:checked + span {
  background: url("../img/check.png") center no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  .connect__wrapper {
    margin-left: 0rem;
  }
  .connect__title {
    font-size: 1.52406rem;
    margin-bottom: 1.21rem;
  }
  .connect__title-color {
    font-size: 3.125rem;
    line-height: 100%;
  }
  .connect__subtitle {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  .connect__subtitle-color {
    font-size: 1rem;
  }
  .connect__text {
    font-size: 1rem;
  }
  .connect__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 23.2rem;
            flex: 0 0 23.2rem;
    padding-top: 4.4rem;
  }
  .connect__title-size {
    font-size: 2rem;
  }
  .connect__callback {
    padding: 4.4rem 0 3rem 1rem;
    margin-left: 0rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20.5rem;
            flex: 0 0 20.5rem;
  }
  .connect__callback-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  .connect__label {
    font-size: 0.5rem;
    margin-bottom: 0.2rem;
  }
  .connect__input {
    height: 1.275rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    padding: 0 0.5rem;
  }
  .connect__textarea {
    min-height: 2rem;
    padding: 0.5rem;
    margin-bottom: 1.2rem;
    border-radius: 0.875rem;
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  .connect__label-checkbox {
    font-size: 0.625rem;
    margin-left: 0.3rem;
    margin-bottom: 1rem;
  }
  .connect__label-checkbox span {
    width: 0.81344rem;
    height: 0.81344rem;
    border-radius: 0.125rem;
    margin-right: 0.41rem;
  }
  .connect__btn {
    padding: 1rem 2.4812rem;
  }
}
@media (max-width: 576px) {
  .connect {
    padding-top: 3.12rem;
    padding-bottom: 1.88rem;
  }
  .connect__wrapper {
    display: block;
  }
  .connect__content {
    padding-top: 0;
    margin-bottom: 1.67rem;
  }
  .connect__title {
    font-size: 1.75rem;
  }
  .connect__title-color {
    font-size: 2.25rem;
  }
  .connect__title-size {
    font-size: 1.75rem;
  }
  .connect__subtitle, .connect__text {
    display: none;
  }
  .connect__callback-title {
    font-size: 1.25rem;
  }
  .connect__callback {
    padding: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .connect__form {
    margin-left: 0rem;
  }
  .connect__input {
    height: 1.25rem;
    margin-bottom: 0.71rem;
    font-size: 0.8rem;
  }
  .connect__label-checkbox {
    margin-left: 0;
    margin-bottom: 1.25rem;
  }
  .connect__btn {
    padding: 0.62rem 2rem 0.56rem;
  }
}
.modal {
  background: #4D3F75;
}
.modal__callback {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 42.5rem;
          flex: 0 0 42.5rem;
  padding: 0;
  margin-left: 0rem;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form {
  position: relative;
}

.form > .js-validate-error-label {
  position: absolute;
  bottom: 4rem;
  left: 0;
}

.form-1 {
  position: relative;
}

.form-1 > .js-validate-error-label {
  position: absolute;
  bottom: 4rem;
  left: 0;
}

.js-validate-error-label {
  color: #CA1313;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: -0.8rem;
}

.connect__checkbox {
  border: none !important;
  color: name !important;
}

@media (max-width: 768px) {
  .js-validate-error-label {
    margin-bottom: 0.5rem;
    margin-top: -0.3rem;
    font-size: 0.7rem;
  }
  .form > .js-validate-error-label {
    bottom: 2.6rem;
  }
  .form-1 > .js-validate-error-label {
    bottom: 2.6rem;
  }
}
@media (max-width: 576px) {
  .form > .js-validate-error-label {
    bottom: 2.1rem;
  }
  .form-1 > .js-validate-error-label {
    bottom: 2.1rem;
  }
}/*# sourceMappingURL=style.css.map */