.header {
    background: url('../img/menu_bg.svg') center center no-repeat #4D3F75;
    border-radius: 0 0 50px 50px;
    padding: 0 0 1.89rem 0;
    position: relative;
    width: 100%;
    z-index: 1000;
    
    &__top {
        position: relative;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 0.64rem;
        padding-top: 1.7rem;
        padding-bottom: 1.5rem;
    }
    &__logo {
        position: absolute;
        top: -0.1rem;
        left: 0;
    }
    &__logo-bg {
        width: 21rem;
        height: 5rem;
        background: url('../img/logo-bg.png') center no-repeat;
        background-size: contain;
    }
    &__logo-img {
        width: 8.93731rem;
        height: 2.868rem; 
        position: absolute;
        top: 42%;
        left: 52%;
        transform: translate(-50%, -50%);
    }

    &__phone, &__email {
        align-items: center;
        color: #FFF;
        font-family: Yantramanav;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.0375rem;
    }
    &__phone-img {
        width: 1.25rem;
        height: 1.28381rem; 
    }
    &__email-img {
        width: 1.25rem;
        height: 0.88263rem; 
    }
    &__email {
        margin-left: 1.86rem;
    }
    &__lang {
        position: relative;
        padding-right: 0.8rem;
        margin-left: 3.06rem;
        width: 4.6rem;
        cursor: pointer;
        &::after{
            content: "";
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 0.5rem;
            height: 0.5rem; 
            background: url('../img/polygon-lang.svg') center no-repeat;
            background-size: contain;
        }
        &:hover .header__lang-menu{
            opacity: 1;
            visibility: visible;
        }
    }
    &__lang-name {
        color: #fff;
        font-family: Yantramanav;
        font-size: 1.4rem;
        font-weight: 300;
    }
    &__lang-main {
        align-items: center;
    }
    &__lang-img {
        width: 1.875rem;
        height: 1.875rem; 
    }
    &__lang-by {
        margin-right: 0.2rem;

    }
    &__lang-menu {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 79%;
        left: -1.67rem;
        background: #4d3f75;
        z-index: 1000;
        list-style-type: none;
        border-radius: 5px;
        box-shadow: 2px 2px 1px 0px #4d3f75;
        padding: 1.5rem 1rem 0.5rem;
        
    }
    &__lang-item--main {
        align-items: center;
        cursor: pointer;
    } 
    
    &__lang-item {
        display: flex;
        align-items: flex-end;
        margin-bottom: 0.5rem;
        cursor: pointer;
        &:hover .header__lang-name {
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
            -webkit-text-stroke: 1px white;
        }
        &:last-child {
            margin-bottom: 0;
        }
        img {
            margin-left: 0.5rem;
            width: 2.375rem;
            height: auto;
            object-fit: cover;

  
        }
    }
    &__phone-link, &__email-link, &__lang-img {
        margin-left: 0.5rem;
    }
    &__line {
        position: absolute;
        width: 93.375rem; 
        top: 4.38rem;
        right: 7.62rem;
    }

    // mobile
    &__burger {
        display: none;
        position: absolute;
        top: 1rem;
        left: 0.8rem;
        width: 2.4935rem;
        height: 2.5rem;
        flex-shrink: 0; 
        background: #665A87;
        border-radius: 50%;
        cursor: pointer;
    }
    &__mobile-circle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.5rem;
        height: 2.5rem;
        flex-shrink: 0; 
        background: #665A87;
        border-radius: 50%;
        cursor: pointer;
        img {
            width: 1.5rem;
            height: auto;
        }
    }

    &__phone-mobile, &__email-mobile {
        display: none;
    }
}

.header__nav {
    &-list {
        align-items: center;
        justify-content: space-between;
    }

    &-link {
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-size: 1rem;
    }
    a:hover {
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        -webkit-text-stroke: 1px white;
    }
}

.header__nav-link:not(.link__decoration) {
    position: relative;
    padding-right: 0.8rem;
    &::after{
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 0.5rem;
        height: 0.5rem; 
        background: url('../img/polygon.svg') center no-repeat;
    }
}

// MENU
.header__nav  {
    &-active {
        position: relative;
        z-index: 100;
    }
    // &-active > ul {
    //     display: none;
    // }
    // &-active:hover > ul {
    //     display:  block;
    // }
    &-active .header__nav-parent {
        display: none;
    }
    &-active:hover > .header__nav-parent {
        display: flex;
    }
    &-active ul {
        width: 19rem;
        padding-top: 1.8rem;
    }
    &-parent {
        position: absolute;
        left: -1.9rem;
        display: flex;
        border-width: 3px;
        border-top-width: 3px;
        border-right-width: 3px;
        border-right: none;
        border-image-slice: 32 27 27 27;
        border-image-width: 20px 20px 20px 20px;
        border-image-outset: 0px 0px 0px 0px;
        border-image-repeat: stretch stretch;
        border-image-source: url('../img/border-sub-menu-right.png');
        border-top: 0;
        border-radius: 0 30px 30px 30px;
        background: linear-gradient(60.15deg, #4D3F75 100%, rgba(77, 63, 117, 0) 125.06%);
        margin: 0;
        padding: 0 0 10px 0;
        }
    
    &-dropdown {
        background: linear-gradient(60.15deg, #4D3F75 100%, rgba(77, 63, 117, 0) 125.06%);
        border-radius: 30px 0 0 30px;
        margin: 0;
        padding: 0 0 10px 0;
        width: 19rem;
    }
    &-dropdown .header__nav-child .header__nav-dropdown {
        border-radius: 30px 0 0 30px;
    }

    &-active li{
        padding: 0.7rem 2rem;
    }

    // child
    &-child {
        position: relative;
    }
    
    &-child > ul {
        display: none;
        position: absolute;
        left: -95%;
        top: 0;
        padding-top: 0rem;
        z-index: -200;
    }
    &-child:hover > ul {
        display: block;
    }
    &-child a {
        position: relative;
        font-size: 1rem;
    }
    &-child > a::after {
        content: "";
        position: absolute;
        right: -1rem;
        top: 36%;
        transform: translateY(-50%);
        width: 0.5rem;
        height: 0.5rem;
        background: url("../img/polygon-lang.svg") center no-repeat;
        transform: rotate(90deg);
    }

    // &-item:nth-child(6) > .header__nav-parent {
    //         top: 2rem;
    //         left: 0rem;
    //     }

}

@media (max-width:768px) {
    .header {
        padding-bottom: 0;
        &__line {
            display: none;
        }
        
        &__phone{
            display: none;
        }
        &__email {
            display: none;
        }
        &__burger {
            display: block;
        }
        &__phone-mobile, &__email-mobile {
            display: block;
        }
        &__lang {
            margin-left: 1.037rem;
        }
        &__lang-menu {
            top: 98%;
        }
        &__email-mobile {
            margin-left: 0.81rem;
        }
        &__logo-bg {
            width: 17.32988rem;
            height: 3.75rem; 
        }
        &__logo {
            left: 4.8rem;
        }
        &__top {
            padding-top: 1rem;
        }
        &__logo-img {
            width: 7.60137rem;
            height: auto;
            position: absolute;
            top: 36%;
            left: 49%;
        }
        &__lang::after {
            top: 50%;
        }
        &__contact {
            align-items: center;
        }

        // menu
        &__nav {
            display: none;
        }
        &__nav-mobile{
            display: block;
            transform: scaleY(0);
            position: absolute;
            top: 4rem;
            left: 1rem;
            background: #4D3F76;
            border-radius: 0 30px 30px 30px;
            font-size: .9rem;
            padding: 0px 25px 15px 25px;
            min-width: 320px;
            border: 3px solid yellow;
            border-top-width: 3px;
            border-right-width: 3px;
            border-right-style: solid;
            border-right-color: yellow;
            border-bottom-width: 3px;
            border-left-width: 3px;
            border-image-outset: 0;
            border-image-repeat: stretch;
            border-image-slice: 100%;
            border-image-source: none;
            border-image-width: 1;
            border-width: 3px;
            border-right-width: 3px;
            border-right: none;
            border-image-slice: 32 27 27 27;
            border-image-width: 20px 20px 20px 20px;
            border-image-outset: 0px 0px 0px 0px;
            border-image-repeat: stretch stretch;
            border-image-source: url('../img/border-sub-menu.png');
        }

        &__nav-mobile.burger--active{
            will-change: transform;
            transition: transform 0.3s;
            transform: scaleY(1);
            transform-origin: 50% 0;
        }
        &__nav-list {
            display: block;
        }
        &__nav-item {
            margin-bottom: 0.5rem;
        }
        
    }
}

@media (max-width: 576px) {
    .header {
        padding: 0;
        border-radius: 0 0 33px 33px;
        &__burger {
            width: 2.125rem;
            height: 2.125rem; 
            top: 0.5rem;
            left: 0.12rem;
        }
        &__logo-bg {
            width: 8.65088rem;
            height: 2.24444rem; 
        }
        &__logo {
            left: 2.2rem;
            top: -0.2rem;
        }  
        &__logo-img {
            width: 4.601rem;
            height: auto;
            top: 41%;
            left: 52%;
        }
        &__mobile-circle {
            width: 2.25rem;
            height: 2.25rem; 
        }
        &__mobile-circle img {
            width: 1.4rem;
            height: auto;
        }
        &__lang-name--main {
            display: none;
           }
  
        &__lang-img {
            width: 1.6875rem;
            height: 1.25rem; 
        }
        &__top {
            padding-top: 0.5rem;
            padding-bottom: 0.81rem;
        } 
        &__lang-menu {
            padding: 0.4rem;
            left: -1.47rem;
        }
        &__lang::after {
            width: 0.3rem;
            height: 0.3rem;
        }
        &__lang-item {
            margin-bottom: 0.2rem;
            &:last-child{
                margin-bottom: 0rem;
            }
        }
        &__lang-item img{
            width: 1.6875rem;
            height: auto;
            object-position: left;
        }
        &__lang-img img{
            object-fit: contain;
        }
        &__lang-item span{
            font-size: 0.8rem;
        }
        &__lang {
            padding-right: 0.2rem;
            margin-left: 0.037rem;
            width: 2.6rem;
        }
        &__email-mobile {
            margin-left: 0.50rem;
        }    
        &__nav {
            top: 3rem;
            left: 0.5rem;
        }    
        &__nav-link {
            font-size: .8rem;
        }  
    }
}


.dl-menuwrapper {
    display: none;
    position: absolute;
    top: 1rem;
    left: 1.2rem;
}
.dl-menuwrapper button {
    width: 2.4935rem;
    height: 2.5rem;
    background: #665A87;
    border-radius: 50%;
    cursor: pointer;
}
.dl-menuwrapper button:hover, .dl-menuwrapper button.dl-active {
    background: #665A87;
}
.dl-menuwrapper button::after {
    left: 50%;
    top: 33%;
    transform: translate(-50%, -50%);
    height: 0.17rem;
    border-radius: 20%;
    width: 1.4rem;
    border-radius: 15px;
    box-shadow: 0 1rem 0 #fff, 0 0.5rem 0 #fff;
}

.dl-menuwrapper .dl-menu {
    background: #4D3F76;
    border-radius: 0 30px 30px 30px;
    margin: 1px 0 0 0;
    font-size: .9rem;
    padding: 26px 25px 15px 25px;
    min-width: 320px;
    border: 3px solid yellow;
    border-top-width: 3px;
    border-right-width: 3px;
    border-right-style: solid;
    border-right-color: yellow;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-width: 3px;
    border-right-width: 3px;
    border-right: none;
    border-image-slice: 32 27 27 27;
    border-image-width: 20px 20px 20px 20px;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: stretch stretch;
    border-image-source: url('../img/border-sub-menu.png');
}

.dl-menuwrapper ul {
    background: #4D3F76;
}

.dl-menuwrapper li.dl-back::after, .dl-menuwrapper li > a:not(:only-child)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 44%;
    transform: translateY(-50%);
    width: 0.5rem;
    height: 0.5rem;
    background: url("../img/polygon.svg") center no-repeat;
    transform: rotate(-90deg);
}

#dl-menu .dl-back {
    background: #9089a6;
    border-radius: 0 20px 20px 0;
    margin-top: -2px;
    margin-left: -15px;
    margin-right: 15px;
    padding: 5px 10px 5px 15px;
}
.dl-menuwrapper .dl-back a {
    width: 30px;
    height: 30px;
}.dl-menuwrapper .dl-back a {
    display: inline-block;
}
.dl-menuwrapper .dl-back a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.dl-menuwrapper .dl-back::after {
    display: none;
}
.dl-menuwrapper .dl-back a::after {
    display: none;
}
.dl-menuwrapper li.dl-back > a {
    padding: 0;
    background: none;
}
.dl-menuwrapper li.dl-back > a:hover {
    background: none;
}
.dl-name {
    display: inline-block;
    max-width: 8rem;
    font-size: 16px;
    margin-left: 3px;
}


@media (max-width:768px) {
    .dl-menuwrapper {
        display: block;
    }
    .no-touch .dl-menuwrapper li a:hover {
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        -webkit-text-stroke: 1px white;
        background: none !important;
    }
    .dl-menuwrapper .dl-menu {
        padding: 15px 27px 15px 7px;
        min-width: 300px;
    }
    #dl-menu .dl-back {
        margin-top: 3px;
        margin-left: 0px;
    }
    .dl-menuwrapper li a {
        padding: 10px 15px;
    }
}

@media (max-width:576px) {
    .dl-menuwrapper button {
        width: 2.25rem;
        height: 2.25rem;
    }
    .dl-menuwrapper {
        top: 0.5rem;
        left: 0.6rem;
    }
    .dl-menuwrapper button::after {
        height: 0.14rem;
        box-shadow: 0 0.9rem 0 #fff, 0 0.45rem 0 #fff;
    }
    .dl-menuwrapper li.dl-back::after, .dl-menuwrapper li > a:not(:only-child)::after {
        top: 40%;
    }
    .dl-name {
        width: 130px;
        max-width: max-content;
    }
    .dl-menuwrapper .dl-menu {
        padding: 15px 27px 15px 7px;
        min-width: 300px;
    }
    #dl-menu .dl-back {
        margin-top: 3px;
        margin-left: 0px;
    }
    .dl-menuwrapper li a {
        padding: 10px 15px;
    }

}

@media (max-width:576px) {
    .dl-menuwrapper {
        width: 85%;
    }
}
