@mixin font($font_name, $file_name, $weight, $style) {

    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

@import "fonts";
@import "_nullstyle.scss";
@import "_library.scss";
@import "_header.scss";
@import "_hero.scss";
@import "_case.scss";
@import "_process.scss";
@import "_connect.scss";
@import "_form.scss";
@import "_modal.scss";


